.container{
    width: 50%;
}
.contact {
    display: flex;
    flex-direction: column;
    margin: 2.5%;
}

button,
input {
    border: 0;
    border-bottom: 1px solid blue;
    padding: 1.5%;
}

button {
    background-color: rgb(41, 158, 244);
    border-radius: 20px;
    margin-top: 40px;
    border-bottom: 0 !important;
}

textarea {
    margin-top: 20px;
    height: 150px;
    border-left: rgb(41,158,244) solid 1px;
    border-bottom: rgb(41,158,244) solid 1px;
    border-top:0px;
    border-right:0;
}