@font-face {
  font-family: "Gotham";
  src: url("fonts/Gotham.eot?") format("eot"), url("fonts/Gotham.woff2") format("woff2"), url("fonts/Gotham.woff") format("woff"), url("fonts/Gotham.ttf") format("truetype"), url('fonts/Gotham.svg#str-replace(Gotham, " ", "_")') format("svg"); }

body {
  background-color: #3E3F40;
  font-family: Gotham, sans-serif;
  color: #2f4ff0; }
  body h1 {
    font-family: 100% Gotham medium, sans-serif; }

.container {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .container .container2 .menu .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
  .container .container2 .welcome {
    text-align: center; }

footer {
  text-align: center;
  background-color: white; }
