$font-family-sans-serif: // Safari for OS X and iOS (San Francisco)
-apple-system,
// Chrome < 56 for OS X (San Francisco)
BlinkMacSystemFont,
// Windows
"Segoe UI",
// Android
"Roboto",
// Basic web fallback
"Helvetica Neue",
Arial,
sans-serif,
// Emoji fonts
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol" !default;
/* font file */
@font-face {
  font-family: "Gotham";
  src: url("fonts/Gotham.eot?") format("eot"), url("fonts/Gotham.woff2") format("woff2"), url("fonts/Gotham.woff") format("woff"), url("fonts/Gotham.ttf") format("truetype"), url('fonts/Gotham.svg#str-replace(Gotham, " ", "_")') format("svg");
}
body {
  background: rgb(38, 38, 38)
}
/* fonts settings */
body h1 {
  font-family: "gotham", bold, sans-serif;
  color: rgb(41, 158, 244);
  font-size: 4.6em;
}

body h2 {
  font-family: "gotham", bold, sans-serif;
  font-size: 3.6em;
  margin-bottom: 0 !important;
  color: rgb(7, 95, 158);
}

body h3 {
  font-family: "gotham", bold, sans-serif;
  color: rgb(226, 211, 107);
  margin-bottom: 0 !important;

}

body h4 {
  color: rgb(255, 255, 255);
}

body h6{
  color: rgb(41, 158, 244);
  font-size: 1.3em;
  font-family: "gotham", book, sans-serif;

}
body p {
  font-family: gotham;
  color: rgb(0, 0, 0);
  margin-bottom: 0 !important;
  font-size: 1.3em;
}

/* code from we school */
body,
html {
  height: 100%;
}
.flex{
display: flex;
flex-direction: column;

}
.flex-center {
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
}
/* original parallax */
.parallax {
  /* The image used */
  background-image: url('../images/IMG_0557\ \(2019_11_21\ 07_47_46\ UTC\).jpg');
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-b {
  /* The image used */
  background-image: url('../images/poster.jpg');
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}.parallax-c {
  /* The image used */
  background-image: url('../images/whatDo.PNG');
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .filler {
  background-color: white;
  height: 2%;
  width: 100%;
} */

.paper-back {
  background-color: white;
  border-radius: 20px 0px 20px;
  padding-top: 40px;
  padding-bottom: 40px;

}
.paper-back-b {
  background-color: white;
  border-radius: 20px 20px ;
  padding-top: 40px;
  padding-bottom: 40px;

}

.logo {
  width: 1000px;
  height: 20px;
  cursor: pointer;
 

}
a {
  width: 100%;
  color: #000;
}
.favicon{
  width: 45px;
  height: 26px;
}
.logo-font{
  font-size: 0.7em !important;
  float: right;
  margin-top: 10px;
}
/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position:absolute;
  width: 100%;
  z-index: 3;

}
.resume{
width: 100%;



}
.margin{
margin: 20px;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  width: auto;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  margin: 30px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* .resume{
  margin: 10px;
  width: 100%;
  height: auto;
} */
/* navbar code from stack overflow
 */

/* body {
  background-color: black;
  font-family: Gotham, sans-serif;
  width: 100%;
  margin: 0 auto; }
  body h1 {
    font-family: 100% Gotham medium, sans-serif;
    color: #2f4ff0; }
  body h4 {
    color: white;
    text-shadow: 2px 2px 2px black; }
  body h5 {
    color: #2f4ff0;
    font-style: italic;
    text-align: center; }
  body p {
    color: white; }

.container {
  display: flex;
  flex-direction: column; }
  .container .container4 {
    display: flex;
    width: 100%;
    height: 450px;
    align-items: center; }
    .container .container4 .content {
      width: 100%; }
    .container .container4 .a1 {
      margin: 0 auto; }
    .container .container4 .a2 {
      padding-left: 20px; }
    .container .container4 .b1 {
      display: flex;
      flex-direction: column;
      background-color: #5d5e5f;
      flex-grow: 2;
      height: 450px;
      justify-content: center;
      align-items: center; }
    .container .container4 .b2 {
      padding-right: 20px; }
    .container .container4 .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 555px; }
      .container .container4 .form label {
        color: #2f4ff0;
        width: 48%; }
      .container .container4 .form input, .container .container4 .form select {
        width: 48%; }
      .container .container4 .form .textarea {
        width: 90%; }

.container5 {
  padding: 30px; }
  .container5 iframe {
    width: 100%;
    height: 555px; }

.container2 .welcome {
  text-align: center;
  font-size: 4rem;
  margin: 100px;
  margin-top: 0;
  color: #2f4ff0; }

.container2 .menu .nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: lightgray;
  margin-bottom: 100px; }

.diamond-grid {
  width: 70%;
  margin: 150px auto 0;
  margin-top: 0; }

.item {
  widows: 250px;
  height: 250px;
  background: #ffff;
  transition: 0.5s;
  opacity: .5; }

.item:hover {
  opacity: 1; }

.item img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) scale(1.2);
  width: 100%; }

footer {
  text-align: center;
  background-color: white;
  margin-top: 100px; }
  footer p {
    color: #2f4ff0; } */